---
import Heading from "./ui/Heading.astro";
---

<section>
  <!-- <Heading
    as="h1" class="text-lg"
  >
    Sam Hankins
  </Heading> -->
  <h1 class="text-6xl font-extrabold mt-8">
    Sam Hankins
  </h1>
  <p class="text-2xl font-light">PRODUCT DESIGNER. DESIGN MENTOR.</p>
  <p class="font-extrabold mt-4 text-lg">Filipino-American. Queer. Non-binary. Neurodivergent. NYC.</p>
  <p class="text-lg text-slate-700 my-8">
    Coming soon...
  </p>
</section>

<style>
</style>
